#navbar{

    padding: 8px;
    background-color: white;
    .col-lg-9{
        display: flex;
        justify-content: space-between;
        align-items: center;
.list{
    display: flex;
    width: 50%;
    justify-content: space-between;
    a{
        text-decoration: none;
        color: black;        
    }
    &:hover{
        a{
            color: orange;
        }
    }
}
.icons{
    display: flex;
    justify-content: space-between;
    width: 15%;
}
   }
}
header{
    margin-top: 20px;
    p{
        font-size: small;
        color: gray;
        padding: 8px;
        margin-top: 20px;
    }
    h2{
        text-align: center;
        padding: 30px 0 30px 0;
    }
}
#filters{
    .zeynab{
        align-items: center;
  margin-top: 30px;  
  .lists-1{
      display: flex;
      justify-content: space-between;
      width: 100%;
      a{
          text-decoration: none;
          color: black;
      }
      &:hover{
          a{
              color: orange;
          }
      }
  }
  .end-p{
      p{
          text-align: end;
          margin-bottom: auto;
      }
  }
  .form{
      form{
        select{
            padding: 12px;
        }
      }
  }        
    }

}
#images-1{
    margin-top: 30px;
    .col-lg-3{
        .img-con{
           position: relative; 
        }
        img{
            width: 100%;  
        }
            .img-1{
                opacity: 1;
                position: absolute;
            }
        &:hover{
            .img-1{
             opacity: 0;
                
            } 

        }
        p{
            color: gray;
        }
.img-2{
    opacity: 0;

 }
      .img-icons{
        bottom: 20px;
        left: 100px;
        position: absolute; 
        svg{
            background-color: rgb(255, 255, 255);
            padding: 4px;
            border-radius: 10px;
        }
    }  
    &:hover{
        .img-2{
        opacity: 1;    
        transition: .5s;
        
        }
    }
    }
}
.showing{
    text-align: center;
    margin-top: 20px;
 button{
     padding: 8px;
     width: 15%;
     background-color: inherit;
 }
 &:hover{
     button{
         background-color: black;
         color: white;
     }
 }
}
footer{
    background-color: rgba(16, 15, 15, 0.902);
    color: white;
    margin-top: 60px;
    padding: 20px;
    .imput-text{
        text-align: center;
        height: 150px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    input{
        padding:10px 40px 10px 40px;
        background-color: rgba(24, 24, 24, 0.606);
        border: none;
        color: lightgray;
    }
    }
  #footer-lists{
      .razzi-icon{
          p{
              font-size: 35px;
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          }
      }
    .foot-ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: start;
   li{
       list-style-type: none;
   }
    }
}  
}
