#navbar{

    padding: 8px;
    background-color:$maincolor;
    .col-lg-9{
@include flex(flex,space-between,center);
.list{
@include fl-size(flex,50%,space-between);
    a{
        text-decoration: none;
        color: black;        
    }
    &:hover{
        a{
            color: orange;
        }
    }
}
.icons{
    @include fl-size(flex,15%,space-between);
}
   }
}
header{
    margin-top: $mt-20;
    p{
        @include fcp(small,gray,8px);
        margin-top: $mt-20;
    }
    h2{
        text-align: center;
        padding: 30px 0 30px 0;
    }
}
#filters{
    .zeynab{
        align-items: center;
        margin-top: 30px;  
  .lists-1{
      @include fl-size(flex,100%,space-between);
      a{
          text-decoration: none;
          color: black;
      }
      &:hover{
          a{
              color: orange;
          }
      }
  }
  .end-p{
      p{
          text-align: end;
          margin-bottom: auto;
      }
  }
  .form{
      form{
        select{
            padding: 12px;
        }
      }
  }        
    }

}
#images-1{
    margin-top: 30px;
    .col-lg-3{
        .img-con{
           position: relative; 
        }
        img{
            width: 100%;  
        }
            .img-1{
                opacity: 1;
                position: absolute;
            }
        &:hover{
            .img-1{
             opacity: 0;
                
            } 

        }
        p{
            color: gray;
        }
.img-2{
    opacity: 0;

 }
      .img-icons{
        bottom: 20px;
        left: 100px;
        position: absolute; 
        svg{
            background-color: $maincolor;
            padding: 4px;
            border-radius: 10px;
        }
    }  
    &:hover{
        .img-2{
        opacity: 1;    
        transition: .5s;
        
        }
    }
    }
}
.showing{
    text-align: center;
    margin-top: 20px;
 button{
     @include pwb(8px,15%,inherit);
 }
 &:hover{
     button{
         background-color: black;
         color: $maincolor;
     }
 }
}
footer{
    color:$maincolor;
    @include foot(rgba(16, 15, 15, 0.902),60px,20px);
    .imput-text{
        @include mix-flex(center,150px,flex,column,center,center);
        margin-top: $mt-20;
    input{
        @include inp(10px 40px 10px 40px,rgba(24, 24, 24, 0.606),none);
        color: $maincolor;
    }
    }
  #footer-lists{
      .razzi-icon{
          p{
              font-size: 35px;
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          }
      }
    .foot-ul{
        @include flex2(flex,space-between,center,start);
   li{
       list-style-type: none;
   }
    }
}  
}
