#navbar {
  padding: 8px;
  background-color: white;
}

#navbar .col-lg-9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar .col-lg-9 .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#navbar .col-lg-9 .list a {
  text-decoration: none;
  color: black;
}

#navbar .col-lg-9 .list:hover a {
  color: orange;
}

#navbar .col-lg-9 .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15%;
}

header {
  margin-top: 20px;
}

header p {
  font-size: small;
  color: gray;
  padding: 8px;
  margin-top: 20px;
}

header h2 {
  text-align: center;
  padding: 30px 0 30px 0;
}

#filters .zeynab {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

#filters .zeynab .lists-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#filters .zeynab .lists-1 a {
  text-decoration: none;
  color: black;
}

#filters .zeynab .lists-1:hover a {
  color: orange;
}

#filters .zeynab .end-p p {
  text-align: end;
  margin-bottom: auto;
}

#filters .zeynab .form form select {
  padding: 12px;
}

#images-1 {
  margin-top: 30px;
}

#images-1 .col-lg-3 .img-con {
  position: relative;
}

#images-1 .col-lg-3 img {
  width: 100%;
}

#images-1 .col-lg-3 .img-1 {
  opacity: 1;
  position: absolute;
}

#images-1 .col-lg-3:hover .img-1 {
  opacity: 0;
}

#images-1 .col-lg-3 p {
  color: gray;
}

#images-1 .col-lg-3 .img-2 {
  opacity: 0;
}

#images-1 .col-lg-3 .img-icons {
  bottom: 20px;
  left: 100px;
  position: absolute;
}

#images-1 .col-lg-3 .img-icons svg {
  background-color: white;
  padding: 4px;
  border-radius: 10px;
}

#images-1 .col-lg-3:hover .img-2 {
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.showing {
  text-align: center;
  margin-top: 20px;
}

.showing button {
  padding: 8px;
  width: 15%;
  background-color: inherit;
}

.showing:hover button {
  background-color: black;
  color: white;
}

footer {
  background-color: rgba(16, 15, 15, 0.902);
  color: white;
  margin-top: 60px;
  padding: 20px;
}

footer .imput-text {
  text-align: center;
  height: 150px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .imput-text input {
  padding: 10px 40px 10px 40px;
  background-color: rgba(24, 24, 24, 0.606);
  border: none;
  color: lightgray;
}

footer #footer-lists .razzi-icon p {
  font-size: 35px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer #footer-lists .foot-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
}

footer #footer-lists .foot-ul li {
  list-style-type: none;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}
/*# sourceMappingURL=style.css.map */